# Dependencies
node_modules/

# Build Output
dist/
dist-ssr/
*.local

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/IDE
.vscode/
.idea/
.trae/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Rust Build Artifacts (Keep the final wasm, ignore intermediate)
src-wasm/target/

# Misc
down.zip
*.lnk
tools/node-v*
*.zip
